<h1>投稿一覧</h1>
<table>
  <tr>
    <th>内容</th>
  </tr>
<% @mouths.each do |mouth| %>
  <tr>
    <td><%= mouth.content %></td>
    <td><%= link_to '詳細を確認する', mouth_path(mouth.id)%></td>
  </tr>
<% end %>
</table>
<%= link_to 'あなたの心の言葉を投稿する', new_mouth_path %>
